{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>About the band</h1>
      <p class="author">By {% for author in authors %}
        <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
        <br> Published {{ publish_date }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Queen are a British rock band formed in London in 1970. Their classic line-up was  <a href="https://en.wikipedia.org/wiki/Freddie_Mercury">Freddie Mercury</a> (lead vocals and piano), <a href="https://en.wikipedia.org/wiki/Brian_May">Brian May</a> (lead guitar and vocals), <a href="https://en.wikipedia.org/wiki/Roger_Taylor_(Queen_drummer)">Roger Taylor</a> (drums and vocals), and <a href="https://en.wikipedia.org/wiki/John_Deacon">John Deacon</a> (bass guitar). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <section>
    <div class="row">
      <h2>Members</h2>
      <div class="col-sm-12 col-lg-3">
        <div class="card mb-4" style="img-fluid">
          <img class="card-img-top" src="./img/members/freddie-mercury-bw.jpg" alt="Freddie Mercury">
          <div class="card-body text-center">
            <h5 class="card-title">Freddie Mercury</h5>
            <p class="card-text">Edward Teach was an English pirate who operated around the West Indies.</p>
            <a href="freddie-mercury.html" class="card-link">More Freddie</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-3">
        <div class="card mb-4" style="max-width: 10rem; img-fluid">
          <img class="card-img-top" src="./img/members/brian-may-bw.jpg" alt="Brian May">
          <div class="card-body text-center">
            <h5 class="card-title">Brian May</h5>
            <p class="card-text">A Welsh privateer, landowner and Lieutenant Governor of Jamaica.</p>
            <a href="brian-may.html" class="card-link">More Brian</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-3">
        <div class="card mb-4" style="max-width: 10rem; img-fluid">
          <img class="card-img-top" src="./img/members/roger-taylor-bw.jpg" alt="Roger Taylor">
          <div class="card-body text-center">
            <h5 class="card-title">Roger Taylor</h5>
            <p class="card-text">An Irish pirate operating in the Caribbean in the early 1700s.</p>
            <a href="roger-taylor.html" class="card-link">More Roger</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-3">
        <div class="card mb-4" style="max-width: 10rem; img-fluid">
          <img class="card-img-top" src="./img/members/john-deacon-bw.jpg" alt="John Deacon">
          <div class="card-body text-center">
            <h5 class="card-title">John Deacon</h5>
            <p class="card-text">Edward Teach was an English pirate who operated around the West Indies.</p>
            <a href="john-deacon.html" class="card-link">More John</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="col text-center">
    <h1>Discography</h1>
  </div>
  {% include "_partials/media-list.njk" %}
</div>

{% endblock %}
