{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class=display1>About the band</h1>
      {# <p class="author">By {% for author in authors %}
        <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
        <br> Published {{ publish_date }}
      </p> #}
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <p>
        Queen are a British rock band formed in London in 1970. Their classic line-up was  <a href="https://en.wikipedia.org/wiki/Freddie_Mercury">Freddie Mercury</a> (lead vocals and piano), <a href="https://en.wikipedia.org/wiki/Brian_May">Brian May</a> (lead guitar and vocals), <a href="https://en.wikipedia.org/wiki/Roger_Taylor_(Queen_drummer)">Roger Taylor</a> (drums and vocals), and <a href="https://en.wikipedia.org/wiki/John_Deacon">John Deacon</a> (bass guitar). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.
      </p>
      <p>- Source: <a href=https://en.wikipedia.org/wiki/Queen_(band)>Wikipedia</a></p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
        <h1 class=display2>Members</h1>
      </div>
      {% include "_partials/cards.njk" %}
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
        <h1 class=display3>Discography</h1>
      </div>
      {% include "_partials/media-list.njk" %}
    </div>
  </div>
</div>

{% endblock %}
