<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-unstyled"> 
        {% for discs in data.discography %}
        <li class="media media-top">
          <img class="mr-3" src=../img/discs/{{discs.image}} alt="Album cover">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{discs.title}}</h5> {{discs.year}}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
