.jumbotron.banner {
  background: url("../img/queen-live-on-stage.jpg") no-repeat center;
  background-size: cover;
  background-position: center top;
  color: white;
  padding-top: 12rem;
}

.jumbotron {
  margin-bottom: 30px;
}

.display {
  font-size: 5rem;
  color: white;
  font-family: 'Monoton', cursive;
  text-align: center;
}
